<div class="page-header" style="background: url('http://via.placeholder.com/1280x800') no-repeat center center/cover;">
    <div class="container">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="custom-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>

        <!-- Page title -->
        <h2 class="page-title">Lorem ipsum dolor sit amet.</h2>
    </div>
</div>