<div class="about">
    <div class="wrap">
        <div class="inner">
            <div class="about-items">
                <div class="items first">
                    <div class="items-inner">
                        <img src="./images/hero.png" alt="" class="img-fluid">
                    </div>
                    <div class="items-inner">
                        <img src="./images/01.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="items-inner">asd</div>
                    <div class="items-inner">asd</div>
                </div>
                <div class="items">
                    <h1>Unlimited skills for SuperProjects</h1>
                    <p>Branding is no longer simply about visual appeal (or the cherry in the apple pie).
                        We develop creative solutions for small and big brands alike, build authentic product identities
                        and much more.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>