<div class="about">
    <div class="wrap">
        <div class="inner">
            <div class="features">
                <h6>Why us</h6>
                <div class="inner-features">
                    asd
                </div>
                <div class="inner-features">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque cumque exercitationem corporis nisi
                    eos modi, enim illum veniam quidem, quasi fuga nam vel dolor placeat beatae voluptates debitis
                    fugiat nihil?
                </div>
            </div>
        </div>

    </div>
</div>
</div>