<div class="intro">
    <div class="wrap">
        <div class="agency-intro">
            <div class="agency-items animate__animated animate__fadeInLeft" style="animation-delay: 0.6s;">
                <h1>Unique Business Consulting.</h1>
                <p>We help our clients succeed by creating <span>brand
                        identities</span>, digital experiences, and print materials.
                </p>
                <div class="demo">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="agency-items photo">
                <img src="./images/powerful.svg" alt="hero" class="img-fluid animate">
                <div class="blob white animate"></div>
            </div>
        </div>
    </div>
</div>