<div class="about">
    <div class="wrap">
        <div class="inner">
            <div class="features">
                <h6>Why us</h6>
                <div class="inner-features">
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 1</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 2</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 3</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 4</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 5</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 5</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 5</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Project 5</p>
                        </div>
                        <div class="overlay">
                            <ul>
                                <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>