<article>
    <h3 class="title">Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut cum ex natus neque nihil numquam pariatur placeat provident quia, quisquam totam! Assumenda cupiditate eius exercitationem expedita explicabo, hic id laborum minus molestiae nemo nobis quo reiciendis, soluta, tempora tenetur! Eos excepturi illo nemo nihil placeat. Atque dolore dolorem dolores quae quaerat reiciendis voluptatum. Distinctio exercitationem facere natus quod tempora.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aliquid assumenda cumque, deserunt dolorem earum error harum modi nostrum omnis quisquam, rem saepe ullam voluptatum! Aperiam asperiores dolores ducimus ea enim fuga vel vero. Consequatur, doloremque ducimus ex explicabo impedit laboriosam magnam minima nobis pariatur, quod repellendus vero voluptate. Atque cum eius est eveniet facere illum iure modi, molestiae natus necessitatibus nihil nisi nostrum odio optio quam, quasi quidem quo recusandae reprehenderit velit voluptatem voluptatibus?</p>
    <details>
        <summary>Lorem ipsum dolor.</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur eaque eveniet ipsum molestias officia praesentium. Adipisci at impedit ipsa laboriosam maxime nesciunt repellat vel?</p>
    </details>
    <p><img src="http://via.placeholder.com/300x300" class="mx-auto d-block" alt="image"></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi excepturi illo illum impedit non officiis omnis quaerat tenetur. Adipisci at dicta numquam odio? Alias animi architecto asperiores at aut blanditiis consequatur deserunt dolore eligendi eos, ex expedita facilis id laborum neque obcaecati officia optio porro ratione repellendus reprehenderit rerum similique sit tempora velit? Aut.</p>
    <ul class="tags">
        <li><a href="#">Tag 1</a></li>
        <li><a href="#">Tag 2</a></li>
        <li><a href="#">Tag 3</a></li>
        <li><a href="#">Tag 4</a></li>
    </ul>
</article>