.custom-breadcrumb  {
  background-color: transparent;
  border-radius: 0;
  padding: 0 0 0.5rem 0;
  margin: 0;
}
@media (min-width: $sm) {
  .custom-breadcrumb  {
  }
}
@media (min-width: $md) {
  .custom-breadcrumb  {
  }
}
@media (min-width: $lg) {
  .custom-breadcrumb  {
  }
}
@media (min-width: $xl) {
  .custom-breadcrumb  {
  }
}