.about {
  .particle {
    position: absolute;
    border-radius: 50%;
  }

  // background: linear-gradient(
  //   to right,
  //   rgba(39, 70, 133, 0) 8%,
  //   rgba(61, 179, 197, 0.8) 80%
  // );
  background: linear-gradient(
    to right,
    rgb(39, 70, 133) 0%,
    rgb(61, 179, 197) 100%
  );
  position: relative;
  color: #fff;
  overflow: hidden;
  .wrap {
    .inner {
      padding: 120px 0;
      position: relative;
      .features {
        width: 100%;
        margin: 0 auto 80px;
        text-align: center;
        @media (min-width: $md) {
          width: 60%;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          background: linear-gradient(
            to right,
            rgba(39, 70, 133, 0) 46%,
            rgba(61, 179, 197, 0.8) 70%
          );
          width: 50%;
          // top: calc(38% - 50px);
        }

        p {
          font-weight: 300;
          font-size: 17px;
          text-transform: uppercase;
          letter-spacing: 7px;
          margin-bottom: 10px;
          font-family: "Poppins", sans-serif;
        }
        h3 {
          font-size: 28px;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          margin: 0;
          line-height: 1.4;
          @media (min-width: $lg) {
            font-size: 48px;
          }
        }
      }
      .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-box {
          width: calc(50% - 10px);
          padding: 0 0 20px 0;
          .item-content {
            padding: 60px 40px;
            border: 1px solid red;
            display: flex;
            flex-direction: row;
            i {
              position: relative;
              width: 80px;
              height: 80px;
              line-height: 80px;
              font-size: 40px;
              margin-bottom: 30px;
            }
            .cont {
              h2 {
                line-height: 1.8;
                text-transform: capitalize;
                margin-bottom: 10px;
                font-family: "Poppins", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
