.about {
  // background-color: #2f2755;
  background-color: #1f1f24;
  position: relative;
  color: #fff;
  overflow: hidden;
  background-image: url(../images/back1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    background: linear-gradient(
      to left,
      rgba(39, 70, 133, 0.4) 0%,
      rgba(47, 39, 85, 0.4) 100%
    );
  }
  .particle {
    position: absolute;
    border-radius: 50%;
  }

  .wrap {
    .inner {
      padding: 60px 0;
      position: relative;

      @media (min-width: $lg) {
        padding: 120px 0;
      }
      .features {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: $md) {
          flex-direction: row;
        }
        h6 {
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          margin: 0;
          line-height: 1.4;
          padding: 0 0 20px 0;
          text-align: center;
          @media (min-width: $md) {
            padding: 0;
            text-align: start;
          }
          &:after {
            background: #fff;
            content: none;
            height: 20px;
            width: 3px;
            position: absolute;
            margin-left: -63px;
            @media (min-width: $md) {
              content: "";
            }
          }
        }
        .inner-features {
          width: 40%;
        }
      }
    }
  }
}
