@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "wrap";

.top.bar {
  // background-color: #37517e;
  position: fixed;
  // top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  // transition: all 0.4s ease-in-out;
  // background-color: rgba(255, 255, 255, 0.2);
  // background: rgba(39, 70, 133, 0.8);

  @media (min-width: $lg) {
    // background-color: transparent;
    // background: rgba(39, 70, 133, 0.8);
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //   position: relative;
    align-items: center;
    padding: 10px 0;

    a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
      color: #fff;
    }
    .links.active {
      left: 0;
      z-index: 1;
    }
    .links {
      position: absolute;
      left: -100%;
      top: 50px;
      width: 100%;
      transition: 0.5s;

      @media (min-width: $lg) {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
      }
      .main-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background: rgba(47, 39, 85, 1);
        align-items: center;
        height: 100vh;

        @media (min-width: $lg) {
          min-width: 250px;
          flex-direction: row;
          justify-content: space-between;
          background-color: transparent;
          height: auto;
        }
        li {
          padding: 10px 0;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: #fff;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: all 0.4s ease-in-out;
          }
          &:hover:after {
            opacity: 1;
          }
        }
      }
    }

    .hamburger-menu {
      height: 30px;
      width: 30px;
      position: relative;
      cursor: pointer;
    }

    .bar {
      width: 70%;
      height: 4px;
      background-color: #fff;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.6s, opacity 0.8s, top 0.6s;
    }

    .bar-one {
      top: 25%;
    }

    .bar-three {
      top: 75%;
    }

    .hamburger-menu.active .bar-one {
      transform: translate(-50%, -50%) rotate(-315deg);
      top: 50%;
    }

    .hamburger-menu.active .bar-two {
      opacity: 0;
    }

    .hamburger-menu.active .bar-three {
      transform: translate(-50%, -50%) rotate(-225deg);
      top: 50%;
    }
  }
}
.slideUp {
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
}

.slideDown {
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}
.color {
  background: rgba(47, 39, 85, 0.8);
}

.over {
  overflow: hidden;
}

.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
