{% extends "partials/layout.html" %}

{% block content %}
<!-- Site Header -->
{% include "partials/header.html" %}

<!-- Carousel -->
{% include "partials/homepage/carousel.html" %}

<div class="container">
    <!-- Services -->
    {% include "partials/sections/services.html" %}

    <!-- Articles -->
    {% include "partials/sections/articles.html" %}
</div>

<!-- CTA section -->
{% include "partials/sections/cta.html" %}

<div class="container">
    <!-- Info -->
    {% include "partials/sections/info.html" %}
</div>

<div class="container">
    <!-- Info -->
    {% include "partials/sections/accordion.html" %}
</div>

<!-- Site Footer -->
{% include "partials/footer.html" %}

{% endblock %}